body{
    margin :0px;
    background-color: rgba(241, 241, 241, 0.75);
    font-family: Arial;

}
/* Navbar container */
header{
    /*
    position: fixed;
    top: 0;
    width: 100%;
    */
    display: flex;
    flex-direction: row;
    overflow: hidden;
    background-color: #03989E;
    border-radius: 50px;
    margin: 5px;
    font-family: Arial;
    align-items: center;
    justify-content:space-between;
    padding: 10px;
}
#titre{
    margin-left: 10px;
    color: rgba(241, 241, 241);
}
#logopf{
    height: 50px;
    width: 50px;
}
nav, .logo{
    display: flex;
    align-items: center;
}
/* Links inside the navbar */
nav a {
    font-size: 20px;
    color: rgba(241, 241, 241);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
    
/* Dropdown button */
.dropdown .dropbtn {
    font-size: 20px;
    border: none;
    outline: none;
    color: rgba(241, 241, 241);
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
nav a:hover, .dropdown:hover .dropbtn {
    color: #03989E;
    background-color: rgba(241, 241, 241, 0.75);
    border-radius: 50px;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #03989E;
    color: #FFF;
    min-width: 160px;
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    float: none;
    color: #FFF;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* MAIN */
main :where(p), main :where(a){
    font-size: 20px;
}
main{
    margin-top: 100px;
    margin: 5rem ;
}
main :where(h1){
    text-align: center;
    color: #03989E;
    margin: 2%;
}
main :where(h2){
    color: #03989E;
}
#txt{
    padding-left: 20px;
}