main :where(a){
    background-color: #03989E;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
}

#art{
    border: solid 1px #000000;
    padding: 10px 20px;
    margin: 15px;
    border-radius: 5px;
    text-decoration: none;
}

#Atitre{
    display: flex;
    justify-content: space-between;
    color: #000000;
}
